.container {
    margin: 20px
  }

  .container2 {
    text-align: center;
    width: 100%;
    display: flex;

  }

  .tittle{
    font-weight: 35px;
    width: 30%;
  }
  .logo{
    display: flex;
    width: 15%;

  }