*{
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
}

.caja-tarjetas{

    margin-left: 20px;


}

.card-container{

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(275px,1fr));



}
.leyendaFaltas{
    font-family: Arial, Helvetica, sans-serif;
}

.spacer{
    height: 20px;
}