h1{
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 20px;
    margin-top: 20px;


    width: 100%;



}

.caja-tarjetas{

    margin-left: 20px;
}

.card-container{

    display: grid;
    gap: 0px;




}
.card{
    font-family: helvetica;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);


    border-radius: 10px;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;


    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 5px;

    margin-top: 20px;
    margin-bottom: 10px;




}
.card-header{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-text{
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 10px;


}

.leyendaFaltas{
    font-family: Arial, Helvetica, sans-serif;
}

.spacer{
    height: 20px;
}